@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Regular"),
        url("../fonts/OpenSans-Regular.woff") format("woff"),
        url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Italic"),
        url("../fonts/OpenSans-Italic.woff") format("woff"),
        url("../fonts/OpenSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-SemiBold"),
        url("../fonts/OpenSans-SemiBold.woff") format("woff"),
        url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-SemiBoldItalic"),
        url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"),
        url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Bold"),
        url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-BoldItalic"),
        url("../fonts/OpenSans-BoldItalic.woff") format("woff"),
        url("../fonts/OpenSans-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}